.ok-button {
	background-color: #1BB597;
	color: white;
	border: none;
	border-radius: 12px;
	width: 100%;
	height: 50px;
}
.ok-button:hover {
	background: #24726F;
}
.account-set-button {
	font-size: 12px;
    border-radius: 8px;
    padding: 8px 0;
    text-align: center;
}