.bg {
	background-color: #F4F7F6
}
.bg-admin {
	background-color: #F1F5F9
}
.bg-dark-green {
	background: linear-gradient(to bottom right, #2B4454, #1BB597);
	min-height: 100vh; /* 브라우저 화면 높이 */
}

.dark-green {
	background-color: #24726F
}
.menu-color {
	background-color: #2C3E50
}
.menu-admin-color {
	background-color: #0F172A
}

.dark-mode body {
    background-color: #0B1220;
}

/* main */
.dark-mode .bg-admin {
    background-color: #0B1220 !important;
}

/* header */
.dark-mode header {
    background: #111827 !important;
    color: white;
}

/* sidebar */
.dark-mode #sidebar {
    background-color: #0F172A !important;
}