.logo-font {
	font-size: 32px;
	color: #1ABC9C;
	font-weight: 800;
}
.menu-font {
	font-size: 18px;
	color: #d7e0e8;
	font-weight: 400;
}
.menu-font-selected {
	font-size: 18px;
	color: #C8F0EE;
	font-weight: 500;
}
.subtitle-dark-blue-font {
	font-size: 14px;
	color: #2C3E50;
	font-weight: 1000;
}
.subtitle-gray-font {
	font-size: 14px;
	color: #A9A9A9;
	font-weight: 800;
}
.card-value-black-font {
	font-size: 25px;
	font-weight: 800;
	color: #2d4258;
}