<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.metanet.seoulbike.mapper.FileMapper">

    <insert id="insertFile" parameterType="FileDto" useGeneratedKeys="true" keyProperty="fileId" keyColumn="FILE_ID">
        INSERT INTO FILE_ATTACHMENT (
            FILE_UUID, 
            FILE_NAME, 
            FILE_PATH, 
            FILE_SIZE, 
            UPLOADER_ID
        ) VALUES (
            #{fileUuid}, 
            #{fileName}, 
            #{filePath}, 
            #{fileSize}, 
            #{uploaderId}
        )
    </insert>

    <select id="findAllFiles" resultType="FileDto">
        SELECT * FROM FILE_ATTACHMENT ORDER BY UPLOAD_DATE DESC
    </select>

    <select id="findFileById" resultType="FileDto">
        SELECT * FROM FILE_ATTACHMENT WHERE FILE_ID = #{fileId}
    </select>

</mapper>