<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.metanet.seoulbike.mapper.SeoulBikeMapper">

    <insert id="insertBikeBatch" parameterType="java.util.List">
        INSERT ALL
        <foreach collection="list" item="item">
            INTO SEOUL_BIKE_TEST (
                RENTAL_DATE,
                RENTAL_OFFICE_NO,
                RENTAL_OFFICE_NAME,
                RENTAL_CODE,
                GENDER,
                AGE_GROUP,
                NUM_OF_USES,
                EXERCISE_AMOUNT,
                CARBON_AMOUNT,
                DISTANCE,
                USAGE_MINUTE
            ) VALUES (
                TO_DATE(#{item.rentalDate}, 'YYYY-MM-DD'), #{item.rentalOfficeNo},
                #{item.rentalOfficeName},
                #{item.rentalCode},
                #{item.gender},
                #{item.ageGroup},
                #{item.numOfUses},
                #{item.exerciseAmount},
                #{item.carbonAmount},
                #{item.distance},
                #{item.usageMinute}
            )
        </foreach>
        SELECT * FROM DUAL
    </insert>

    <select id="findAllBikeData" resultType="SeoulBikeDto">
        SELECT * FROM SEOUL_BIKE_TEST ORDER BY RENTAL_DATE DESC
    </select>

    <delete id="truncateTestTable">
        TRUNCATE TABLE SEOUL_BIKE_TEST
    </delete>

</mapper>