<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.metanet.seoulbike.test.mapper.UserMapper">

    <select id="checkDbConnection" resultType="int">
        SELECT COUNT(*) FROM USER_INFO
    </select>

    <select id="findAllUsers" resultType="UserDto">
        SELECT * FROM USER_INFO ORDER BY JOIN_DATE DESC
    </select>

    <select id="findUserById" resultType="UserDto">
        SELECT * FROM USER_INFO WHERE USER_ID = #{userId}
    </select>

    <insert id="insertUser" parameterType="UserDto" useGeneratedKeys="true" keyProperty="userNo" keyColumn="USER_NO">
        INSERT INTO USER_INFO (USER_ID, USER_PW, USER_NAME, GENDER, AGE)
        VALUES (#{userId}, #{userPw}, #{userName}, #{gender}, #{age})
    </insert>

    <update id="updateUser" parameterType="UserDto">
        UPDATE USER_INFO 
        SET USER_NAME = #{userName},
            AGE = #{age},
            GENDER = #{gender}
        WHERE USER_ID = #{userId}
    </update>

    <delete id="deleteUser">
        DELETE FROM USER_INFO WHERE USER_ID = #{userId}
    </delete>

</mapper>